/* General */
body {
    background-image: url('./GOL-background.jpg');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.699);
}

canvas {
    position: relative;
    border: 3px solid silver;
    background-color: white;
    background-repeat: repeat;

    top: 50px;
    left: 3%;
}

button {
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    text-align: center;
    position: relative;
    cursor: pointer;
    top: 20%;
    /* left: 20%; */
    box-shadow: 0 8px 16px 0 grey, 0 6px 20px 0 lightgray;
}

select {
    position: relative;
    font-size: 150%;
    left: 5%;
}
/* by element class */
.title {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    font-style: italic;
    position: relative;
}

/* Start Button */
.startBtn {
    background:white;
}
.startBtn.highlight {
    background:rgb(250, 219, 219);
}
